venv/
.venv/
env/
bin/
lib64/
lib/
include/
share/
pip-selfcheck.json
__pycache__/
*.py[cod]
*$py.class
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
*.pot
*.pyc
__pycache__
.cache
.pytest_cache/
.env
.DS_Store
.vscode/
.idea/
dist/
build/
*.egg-info/