/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5; /* 배경색 통일 */
}

body {
  margin: 0;
  display: block; /* Vite 기본값인 flex를 해제합니다 */
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
}